<head>
<h1>Worth a Yuk</h1>
</head>

<body>
<br>
<div id="joke">
<% @joke.each do |joke| %>
  <%= simple_format(joke.body) %>
<% end %>
</div>
<br>
<%= button_to "Hit me again!", root_path, method: "get", :class => "btn" %>
</body>
